<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Hotel_Booking_System HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Assets/Styles/adminIndexStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../Assets/Scripts/adminIndexScript.js"></script>
    <script src="../../Assets/Scripts/common.js"></script>
</head>
<body>
    <h4 class="text-center uppercase p-3 mb-5 fw-bolder text-2xl" style="background-color: rgba(0, 0, 0, 0.8);color: #FFA456;box-shadow: 0 8px 6px -6px #FFA456;">Admin Home</h4>
    <div class="menu-btn">
        <i class="bi bi-list"></i>
    </div>
    <div class="side-bar">
        <div class="flex flex-row align-middle p-3 m-auto" style="background: #FFA456;">
           <div class="logo m-auto align-middle"><img src="./logo.png"/></div>
           <div>
               <h3 class="text-center uppercase pl-3 m-auto align-middle">Explore stay</h3>
           </div>
           <div class="close-btn m-auto align-middle">
                <i class="bi bi-x"></i>
           </div>
        </div>
        <div class="menu">
          <div class="item"><a href="./AdminIndex.html"><i class="bi bi-house-fill"></i>Home</a></div>
          <div class="item">
           <a class="sub-btn"><i class="bi bi-building"></i>Hotels<i class="bi bi-caret-down-fill dropdown"></i></a>
           <div class="sub-menu">
             <a href="./hotels.html" class="sub-item">Hotels</a>
             <a href="./AddHotel.html" class="sub-item">Add Hotel</a>
           </div>
         </div>
          <div class="item"><a href="./Users.html"><i class="bi bi-people-fill"></i>Users</a></div>
          <div style="position: absolute;bottom: 0px;width: 100%;margin-bottom: 5%;">
               <div class="item lognIn"><a><i class="bi bi-box-arrow-in-right"></i>LogIn</a></div>
               <div class="item logOut"><a><i class="bi bi-box-arrow-in-left"></i>LogOut</a></div>
          </div>
        </div>
    </div>
    <section class="mainSection">
        <div class="text-center">
            <h2 class="uppercase m-auto fw-bolder text-orange-300 text-3xl mb-5">ExploreStay Application</h2>
            <div class="flex justify-evenly">
                <div class="flex flex-column uppercase mx-auto p-3">
                    <div class="my-2 fw-bolder flex flex-row justify-between"><p>Hotels Available</p><span class="fw-normal">Value</span></div>
                    <div class="my-2 fw-bolder flex flex-row justify-between"><p>Employees</p><span class="fw-normal">Value</span></div>
                    <div class="my-2 fw-bolder flex flex-row justify-between"><p>Users</p><span class="fw-normal">Value</span></div>              
                    <h2 class="uppercase m-auto fw-bolder text-orange-300 text-xl mb-5">Analytics</h2>
                    <div style="width: 100%;">
                        <div class="my-2 fw-bolder flex flex-row justify-between"><p>Average Usage Time</p><span class="fw-normal">Value</span></div>
                        <div class="my-2 fw-bolder flex flex-row justify-between"><p>Average bookings per day</p><span class="fw-normal">Value</span></div>
                    </div>              
                </div>
                <div class="ml-5">
                    <img src="../../Assets/Images/analytics.png" style="width: 45%;height: 90%;"/>
                </div>
            </div>
        </div>
    </section>
</body>
</html>