@import 'colorVariables';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "EB Garamond";
}

html {
    scroll-behavior: smooth;
}

.mainDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../Images/hotelBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    filter: blur(5px); 
    z-index: -1; 
}

.mainDiv .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}

nav{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: 0 8px 6px -6px #FFA456;
}

nav li a:hover{
    color: white;
    border-bottom: 3px solid #FFA456;
    transition: .3s;
}

.active{
    border-bottom: 3px solid #FFA456;
    color: #FFA456;
}

.mainText{
    font-size: 50px;
    color: #FFA456;
    text-transform: uppercase;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.image{
  margin-left: 5vw;
  transform: scaleX(-1);
}

p{
    font-size: 20px;
}

.subheading{
  font-weight: bolder;
  color: #FFA456;
  text-align: center;
}

.highlight{
  color: #FFA456;
  font-weight: bolder;
}

.travelImage{
  position: absolute;
  width: 40%;
  height: 40%;
  right: 0px;
  animation: sliding 5s ease-in infinite;
}

@keyframes sliding{
  0%{
    right: 0px;
  }
  100%{
    right: 100%;
  }
}

.checked {
    color: orange;
}

.buttonStyle{
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #FFA456;
  border: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 12px;
  margin-right: 5px;
  text-transform: uppercase;
}

.buttonStyle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%; /* Large enough to cover the entire button */
  height: 300%; /* Large enough to cover the entire button */
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent color for fill effect */
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, left 0.3s ease;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.buttonStyle:hover::before {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}

.buttonStyle span{
  position: relative;
  z-index: 1;
}

.nextBtn:hover{
  border: 1px solid rgb(35, 35, 35);
  color: white;
  font-size: 15px;
}

/* .buttonStyle{
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
    margin-bottom: 12px;
    margin-right: 5px;
} */

/* .buttonStyle:hover{
    background-color: #e8a264;
} */

input {
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);

  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #FFA456;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background:#FFA456;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 16px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #FFA456;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #FFA456;  
  }

  .contactusCard{
    padding-top: 20%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
  }

  .contactusCard a:hover{
    color: #FFA456;
  }
  
  /* @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  } */
  
  
  /* ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  ul a:hover {
    opacity:1;
  } */
  
  .item.social {
    text-align:center;
  }
  
  @media (max-width:767px) {
    .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .item.social {
      text-align:center;
    }
  }
  
  .item.social a {
    font-size:24px;
    width:38px;
    height:35px;
    line-height:40px;
    display:inline-block;
    text-align: center;
    transform: translate(0,-50%);
    border-radius:50%;
    margin-left:2%;
    margin-top:5%;
    opacity:0.75;
  }
  .item.social svg{
    margin-top: 2%;
    margin-left: 2%;
  }

  .item.social > a:hover {
    opacity:0.9;
    color: #FFA456;
    background-color: rgb(41, 41, 41);
  }
  
  @media (max-width:991px) {
    .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .item.social > a {
      margin-top:10px;
    }
  }
  
  .copyright {
    font-weight: bold;
    margin-top:1%;
    margin-bottom:0;
    font-size:20px;
    opacity:0.6;
  }

  /* .hide{
    opacity: 0;
    transition: all 1s ease;
  } */

.visible{
    opacity: 1;
    transform: translateY(0);
}


.label{
  font-weight: bold;
  text-transform: uppercase;
}

.formDiv{
  width: 40%;
  height: fit-content;
  align-items: center;
  position: absolute;
  top: 18%;
  left: 3%;
}

.hint{
  display: none;
}

input[type="password"]:focus + .hint{
  display: block;
}

.cardDesign{
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.cardDesign.hover{
  width: 80%;
  z-index: 3;
}

.backgroundDesign{
  position: relative;
  margin: auto;
  z-index: -1;
}