.startingSection{
    display: flex;
    flex-direction: row;
}

.sideMenu{
    height: fit-content;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color:  #FFA456;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
    max-width: 20%;
    width: 100%;
}

.hotelName{
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
}

.description{
    margin-top: 5%;
    font-size: 18px;
    line-height: 24px;
    text-wrap: wrap;

}

.review{
    font-weight: bolder;
    font-size: 20px;
}

p{
    font-size: 18px;
}

.heading{
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
}

.form-check-input{
    border: 0.5px solid black;
}

.menu{
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bolder;
    color: #FFA456;
    text-transform: uppercase;
    text-align: center;
}

.filter-dropdown {
    margin-bottom: 10px;
}

.filter-btn {
    border: 1px solid #FFA456;
    padding: 10px;
    width: 90%;
    text-align: left;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-btn button {
    float: right;
    cursor: pointer;
}

.filter-content {
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10%;
}

.arrowup{
    display: none;
}

.filter-content label {
    display: block;
    font-weight: bold;
}

/* to display the element when the button is triggered. */
.filter-dropdown.active .filter-content{
    display: block;
    color: black;
}

.filter-dropdown.active .arrowup{
    display: block;
    color: black;
}

.filter-dropdown.active .arrow{
    display: none;
    color: black;
}

.hotelsMainDiv{
    max-width: 80%;
    width: 100%;
}


@media (max-width: 770px) {
    nav{
        width: 100vw;
    }
}


.recommendation-button {
    clear: both;
    align-items: center;
    justify-content: center;
    z-index: 0;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-wrap: wrap;
  }
  
  .tooltip {
    opacity: 1;
    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
  }

  .tooltip i {
    font-size: 25px; 
    padding: 10px;
    background-color: #FFA456;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  
  .tooltip i:hover {
    transform: scale(1.1);
    z-index: 0;
  }

  .cardInside{
    flex-direction: row;
  }

  .formMain{
    flex-direction: row;
    flex-wrap: wrap;
  }

  
  @media (max-width: 800px) {
    .recommendation-button{
        margin-left: 1px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }

    .tooltip{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .hotelsMainDiv{
        max-width: 70%;
        width: 100%;
    }

    .sideMenu{
        max-width: 30%;
        width: 100%;
    }
}

@media (max-width: 730px) {
    .recommendation-button{
        margin-left: 1px;
        margin-left: auto;
        margin-right: auto;
    }

    #hotelsDisplay{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px;
    }

    .reviewDiv{
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    #availabilityBtn{
        margin-left: auto;
        margin-right: auto;
    }

    .cardDesign{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }

    .cardInside{
        flex-direction: column;
      }

      .formMain{
        flex-direction: column;
        flex-wrap: wrap;
      }

      .formElement{
        flex-direction: column;
        flex-wrap: wrap;
      }

      .innerFormDiv{
        width: 80%;
      }
}

 
@media (max-width: 660px) {
    .cardDesign{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .cardDesign{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 560px) {

    .sideMenu{
        max-width: 35%;
        width: 100%;
    }

    .hotelsMainDiv{
        max-width: 65%;
        width: 100%;
    }

    .cardDesign{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 540px) {
    .cardDesign{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 520px) {
    .cardDesign{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 440px) {

    .startingSection{
        display: flex;
        flex-direction: column;
    }

    .sideMenu{
        max-width: 100%;
        width: 100%;
    }

    .hotelsMainDiv{
        max-width: 100%;
        width: 100%;
    }

    .recommendation-button{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }

    .tooltip{
        margin-left: auto;
        margin-right: auto;
    }


    .cardDesign{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }

    .innerFormDiv{
        display: flex;
        flex-direction: column;
    }
}