.sideMenu{
    height: fit-content;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color:  #FFA456;
    padding-bottom: 5%;
}

.hotelName{
    font-weight: bolder;
    font-size: 25px;
}

.description{
    margin-top: 5%;
    font-size: 18px;
    line-height: 24px;

}

.review{
    font-weight: bolder;
    font-size: 20px;
}

p{
    font-size: 18px;
}

.heading{
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
}

.form-check-input{
    border: 0.5px solid black;
}

.menu{
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bolder;
    color: #FFA456;
    text-transform: uppercase;
    text-align: center;
}

.filter-dropdown {
    margin-bottom: 10px;
}

.filter-btn {
    border: 1px solid #FFA456;
    padding: 10px;
    width: 90%;
    text-align: left;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-btn button {
    float: right;
    cursor: pointer;
}

.filter-content {
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10%;
}

.arrowup{
    display: none;
}

.filter-content label {
    display: block;
    font-weight: bold;
}

/* to display the element when the button is triggered. */
.filter-dropdown.active .filter-content{
    display: block;
    color: black;
}

.filter-dropdown.active .arrowup{
    display: block;
    color: black;
}

.filter-dropdown.active .arrow{
    display: none;
    color: black;
}

