.sideMenu{
    height: fit-content;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color:  #FFA456;
    padding-bottom: 5%;
}

.hotelName{
    font-weight: bolder;
    font-size: 25px;
}

.description{
    margin-top: 5%;
    font-size: 18px;
    line-height: 24px;

}

.cardDesign{
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.cardDesign.hover{
    width: 80%;
    z-index: 3;
}

.review{
    font-weight: bolder;
    font-size: 20px;
}

p{
    font-size: 18px;
}

.heading{
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
}

.form-check-input{
    border: 0.5px solid black;
}

.menu{
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bolder;
    color: #FFA456;
    text-transform: uppercase;
    text-align: center;
}

.filter-dropdown {
    margin-bottom: 10px;
}

.filter-btn {
    border: 1px solid #FFA456;
    padding: 10px;
    width: 90%;
    text-align: left;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.filter-btn button {
    float: right;
    cursor: pointer;
}

.filter-content {
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10%;
}

.arrowup{
    display: none;
}

.filter-content label {
    display: block;
    font-weight: bold;
}

/* to display the element when the button is triggered. */
.filter-dropdown.active .filter-content{
    display: block;
    color: black;
}

.filter-dropdown.active .arrowup{
    display: block;
    color: black;
}

.filter-dropdown.active .arrow{
    display: none;
    color: black;
}

.formMain{
    background-color: #FFA456;
    align-items: center;
    padding: 1%;
    margin-bottom: 5%;
}

.formElement{
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.formElement label{
    padding: 2%;
    font-weight: bolder;
    text-transform: uppercase;
    padding-right: 3%;
}

.formElement input{
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25); 
    margin-left: 5%;
    width: 80%;
    font-size: 16px;
    border-radius: 5px;
    backdrop-filter: blur(10px); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.buttonSearch{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 12px;
    color: white;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.7);
}