<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Now</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../Assets/Styles/loginStyle.css"/>
    <script src="../Assets/Scripts/loginScript.js"></script>
    <script src="../Assets/Scripts/common.js"></script>
    <script src="../Assets/Scripts/TrackingSessions.js"></script>
</head>
<body>
    <div class="design"></div>
    <div class="leftDiv">
        <div class="innerText" style="width: 30%;margin-left: 2%;">
            <h5 style="text-transform: uppercase; font-weight: bolder;margin-bottom: 2%;">"Is this your first visit?"</h5>
            <p>Thank you for choosing us! Become part of our family with just a few clicks and embrace the lifestyle you deserve!</p>
            <p style="font-weight: 500; margin-top: 2%;">click the button below to register!</p>
            <button type="button" class="buttonStyle nextBtn"><a href="../Templates/register.html" style="text-decoration: none; color: white;">Register Now</a></button>
        </div>
        <div>
            <img src="../Assets/Images/login.png" alt="person login image" style="width: 30%;height: 30% ;margin-left: 20%;padding: 0%;" class="frontendImage"/>
        </div>
    </div>
    <div>
        <div class="formDiv">
            <h3 class="heading">Login Now</h3>
            <form id="loginForm" name="loginForm">
                <div class="row mb-2" style="align-items: center;">
                    <div class="col-sm-4">
                      <label for="email" class="form-label label">Email</label>
                    </div>
                    <div class="col-sm-8">
                      <input type="email" required class="form-control" name="email" id="email" placeholder="eg. abc@gmail.com" onblur="validateEmail()">
                      <small class="text-success" id="emailValid"></small>
                      <small class="text-danger" id="emailInvalid"></small>
                    </div>
                </div>
                <div class="row mb-2" style="align-items: center;">
                    <div class="col-sm-4">
                        <label for="password" class="form-label label" >Password</label>
                      </div>
                      <div class="col-sm-8">
                        <input type="password" required class="form-control" name="password" id="password" placeholder="eg.XYZA$e67@a_v" onblur="validatePassword()">
                        <small class="text-success" id="passwordValid"></small>
                        <small class="text-danger" id="passwordInvalid"></small>
                      </div>
                </div>
                <div class="col-10 m-5" style="text-align: center;">
                    <button type="button" class="btn" style="background-color: #FFA456; font-weight: bolder;text-transform: uppercase;" onclick="validateAndLogin()">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>